<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>

<link rel="stylesheet" type="text/css" th:href="@{/default.css}" />

</head>
<body>
	<h1 class="hh">社別名刺一覧画面</h1>
	<table border="1" th:if="${count.size()>0}">
		<tr>
			<th>社名</th>
			<th>名前</th>
			<th>役職</th>
			<th>区分</th>
			<th>更新</th>
			<th>削除</th>
			<th>詳細</th>
		</tr>
		<tr th:each="e : ${count}">
			<td th:text="${e.factory}">
			<td th:text="${e.name}"></td>
			<td th:text="${e.state}"></td>
			<td th:text="${e.relation}"></td>
			<td><a th:href="@{/update/{d}(d=${e.id})}">更新</a></td>
			<td><a th:href="@{/delete/{d}(d=${e.id})}">削除</a></td>
			<td><a th:href="@{/detail/{d}(d=${e.id})}">詳細</a></td>
		</tr>
	</table>
	<a class="btn-slip" th:href="@{/write}">名刺の追加</a>
	<a class="btn-slip" th:href="@{/search}">名刺の検索</a>
	<a class="btn-slip" th:href="@{/list}">名刺の一覧</a>
</body>
</html>